.header {
    background-color: #2a3c96;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  .logo {
    font-size: 2.5rem; /* Increased font size */
    margin: 0;
  }
  
  .logo a {
    color: white;
    text-decoration: none;
  }